<!DOCTYPE html>
<html>
  <head>
    <title>Crafting Website</title>
    <link rel="stylesheet" href="../static/css/Intro.css">
  </head>
  <body>
    <nav>
      
      <a href="/contactinfo">About Us</a>
      <a href="/Login">Go To Home Page</a>
    </nav>
    <div class="container">
      <h1>Welcome to our Crafting Website!</h1>
      <p>
        Here you can find various tutorials and resources to help you with your
        crafting projects. We also have a gallery where you can share your own
        creations. Don't forget to check out our contact page for more information.
      </p>
    </div>
  </body>
</html>